RewriteEngine on
RewriteRule ^scss/(.*) scss.php?router=$
RewriteRule ^pgs/(.*) paginasgerais.php?router=$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php?router=$1 [QSA]