<?php
$USU_ID = $_SESSION["LOGIN"]["USU_ID"];
$sel = "select * from desleo_cursos where CURSO_USU_ID = $USU_ID and CURSO_SLIDE = 'S' order by CURSO_TITULO";
$qry = mysqli_query($conn, $sel);
?>
<? if (!isset($pagbusca)) {
    $finalquery = '';
?>
<div id="banner">
    <?php
        while ($slide = mysqli_fetch_assoc($qry)) {
        ?>
    <div class="slide">
        <div class="titulo">
            <?= $slide["CURSO_TITULO"] ?>
        </div>
        <button><a href="curso/<?= $slide[" CURSO_URL_AMIGAVEL"] ?>">Saiba Mais...</a></button>
        <img src="assets/images/cursos/<?= $slide[" CURSO_IMAGEM"] ?>" alt="
        <?= $slide["CURSO_TITULO"] ?>" />
    </div>
    <? } ?>
</div>
<? } else {
    $finalquery = "and CURSO_TITULO like '%" . $router[1] . "%' ";
} ?>

<div id="cursos" class="max-width">
    <h2>Meus Cursos</h2>
    <div class="cards">
        <?php
        $sel = "select * from desleo_cursos where CURSO_USU_ID = $USU_ID $finalquery order by CURSO_TITULO";
        $qry = mysqli_query($conn, $sel);
        while ($curso = mysqli_fetch_assoc($qry)) {
        ?>
        <div class="card">
            <div class="imgCurso">
                <img src="assets/images/cursos/<?= $curso[" CURSO_IMAGEM"] ?>" alt="
                <?= $curso["CURSO_TITULO"] ?>" />
            </div>
            <h3>
                <?= $curso["CURSO_TITULO"] ?>
            </h3>
            <div class="descr">
                <?= $curso["CURSO_DESCRICAO"] ?>
            </div>
            <button><a href="gerenciar/cursos/<?= $curso[" CURSO_ID"] ?>">Ver Curso</a></button>
        </div>
        <? }
        ?>
        <div class="card add"><a href="gerenciar/cursos/0">Adicionar Curso</a></div>
    </div>
</div>