<header class="max-width">
    <a href=""><img id="logoTop" src="assets/images/logoleo.png" alt="Desafio LEO"></a>
    <div id="blocoPesquisar">
        <img id="btnPesquisa" src="assets/images/icon-lupa.png" alt="Pesquisar">
        <input type="text" name="cp_busca" id="cp_busca" placeholder="Pesquisar cursos...">
    </div>
    <div id="blocoUser">
        <div id="avatar"><img src="assets/images/avatar/user-001.jpg" alt=""></div>
        <ul id="nameUser">
            <li>Seja bem-vindo</li>
            <li>{{usuario}}</li>
        </ul>
        <img id="arrow" src="assets/images/icon-arrow.png">
        <div class="subUser">
            <ul>
                <li><a href="">Meus Cursos</a></li>
            </ul>
        </div>
    </div>
</header>